
<form [formGroup]="signinform" (ngSubmit)="onSubmit()">
     <div>
        <label>User Name : </label>
        <input type="text" formControlName="username">  
        <div *ngIf = "f.username.invalid && f.username.touched">
           <div *ngIf ="f.username.errors.required">
               Please Enter the User Name.
           </div>
        </div>
     </div>
     <div>
        <label>Password : </label>
        <input type="text" formControlName="password">  
     </div>   
     <div *ngIf="f.password.invalid && f.password.touched">
         <div *ngIf ="f.password.errors.required">
             Please enter the password
         </div>
      </div>
    <div>
        <button type="submit">Sign In</button>
        <a routerLink ="/signup">Sign Up</a>
    </div>
</form>


